{% extends 'viewer/base.html' %}
{% load static %}

{% block body_block %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script async defer src="{% static "js/map.js" %}"></script>

  <script src="{% static "js/example.js" %}"></script>

  <form id="gpx_form" method="post" action="/viewer/" enctype="multipart/form-data">
    {% csrf_token %}
    {{ upload_form.as_p }}
   <!-- <input type="file" accept="text/xml" ID="uploader">Select track file</input> -->
    <input type="submit" name="submit" value="Submit" ID="uploader"/>
  </form>
  <br>
  <div id="map"/>
{% endblock %}
